/** 1.6  Tables */
table {
  background-color: transparent;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #b1b1b1;
  text-align: left;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 22px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.57143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #ddd;
}

.table .table {
  background-color: #2d2e2e;
}

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

.table > thead > tr > td.active,
.table > thead > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}

.table > thead > tr > td.success,
.table > thead > tr > th.success,
.table > thead > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tfoot > tr > td.success,
.table > tfoot > tr > th.success,
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th {
  background-color: #abcc37;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #9bba2f;
}

.table > thead > tr > td.info,
.table > thead > tr > th.info,
.table > thead > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tbody > tr.info > td,
.table > tbody > tr.info > th,
.table > tfoot > tr > td.info,
.table > tfoot > tr > th.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr.info > th {
  background-color: #79ccf2;
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #62c3f0;
}

.table > thead > tr > td.warning,
.table > thead > tr > th.warning,
.table > thead > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th {
  background-color: #f5bf2f;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #f4b817;
}

.table > thead > tr > td.danger,
.table > thead > tr > th.danger,
.table > thead > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger,
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th {
  background-color: #f54b0f;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #e14209;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 16.5px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

/** 1.7  Forms */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 22px;
  font-size: 21px;
  line-height: inherit;
  color: #888888;
  border: 0;
  border-bottom: 1px solid #f6f7f8;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

output {
  display: block;
  padding-top: 16px;
  font-size: 14px;
  line-height: 1.57143;
  color: #212121;
}

.form-control {
  display: block;
  width: 100%;
  height: 20px;
  padding: 15px 27px;
  font-size: 14px;
  line-height: 1.57143;
  color: #212121;
  background-color: #fff;
  background-image: none;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #b1b1b1;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(177, 177, 177, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(177, 177, 177, 0.6);
}

.form-control::-moz-placeholder {
  color: #888888;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #888888;
}

.form-control::-webkit-input-placeholder {
  color: #888888;
}

.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.form-control[disabled], .form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f6f7f8;
  opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 50px;
  }
  input[type="date"].input-sm, .input-group-sm > input[type="date"].form-control,
  .input-group-sm > input[type="date"].input-group-addon,
  .input-group-sm > .input-group-btn > input[type="date"].btn,
  .input-group-sm input[type="date"],
  input[type="time"].input-sm,
  .input-group-sm > input[type="time"].form-control,
  .input-group-sm > input[type="time"].input-group-addon,
  .input-group-sm > .input-group-btn > input[type="time"].btn,
  .input-group-sm
  input[type="time"],
  input[type="datetime-local"].input-sm,
  .input-group-sm > input[type="datetime-local"].form-control,
  .input-group-sm > input[type="datetime-local"].input-group-addon,
  .input-group-sm > .input-group-btn > input[type="datetime-local"].btn,
  .input-group-sm
  input[type="datetime-local"],
  input[type="month"].input-sm,
  .input-group-sm > input[type="month"].form-control,
  .input-group-sm > input[type="month"].input-group-addon,
  .input-group-sm > .input-group-btn > input[type="month"].btn,
  .input-group-sm
  input[type="month"] {
    line-height: 40px;
  }
  input[type="date"].input-lg, .input-group-lg > input[type="date"].form-control,
  .input-group-lg > input[type="date"].input-group-addon,
  .input-group-lg > .input-group-btn > input[type="date"].btn,
  .input-group-lg input[type="date"],
  input[type="time"].input-lg,
  .input-group-lg > input[type="time"].form-control,
  .input-group-lg > input[type="time"].input-group-addon,
  .input-group-lg > .input-group-btn > input[type="time"].btn,
  .input-group-lg
  input[type="time"],
  input[type="datetime-local"].input-lg,
  .input-group-lg > input[type="datetime-local"].form-control,
  .input-group-lg > input[type="datetime-local"].input-group-addon,
  .input-group-lg > .input-group-btn > input[type="datetime-local"].btn,
  .input-group-lg
  input[type="datetime-local"],
  input[type="month"].input-lg,
  .input-group-lg > input[type="month"].form-control,
  .input-group-lg > input[type="month"].input-group-addon,
  .input-group-lg > .input-group-btn > input[type="month"].btn,
  .input-group-lg
  input[type="month"] {
    line-height: 72px;
  }
}

.form-group {
  margin-bottom: 12px;
}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio label,
.checkbox label {
  min-height: 22px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"][disabled], input[type="radio"].disabled,
fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled],
input[type="checkbox"].disabled,
fieldset[disabled]
input[type="checkbox"] {
  cursor: not-allowed;
}

.radio-inline.disabled,
fieldset[disabled] .radio-inline,
.checkbox-inline.disabled,
fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed;
}

.radio.disabled label,
fieldset[disabled] .radio label,
.checkbox.disabled label,
fieldset[disabled]
.checkbox label {
  cursor: not-allowed;
}

.form-control-static {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0;
  min-height: 36px;
}

.form-control-static.input-lg, .input-group-lg > .form-control-static.form-control,
.input-group-lg > .form-control-static.input-group-addon,
.input-group-lg > .input-group-btn > .form-control-static.btn, .form-control-static.input-sm, .input-group-sm > .form-control-static.form-control,
.input-group-sm > .form-control-static.input-group-addon,
.input-group-sm > .input-group-btn > .form-control-static.btn {
  padding-left: 0;
  padding-right: 0;
}

.input-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 40px;
  padding: 6px 17px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-sm, .input-group-sm > select.form-control,
.input-group-sm > select.input-group-addon,
.input-group-sm > .input-group-btn > select.btn {
  height: 40px;
  line-height: 40px;
}

textarea.input-sm, .input-group-sm > textarea.form-control,
.input-group-sm > textarea.input-group-addon,
.input-group-sm > .input-group-btn > textarea.btn,
select[multiple].input-sm,
.input-group-sm > select[multiple].form-control,
.input-group-sm > select[multiple].input-group-addon,
.input-group-sm > .input-group-btn > select[multiple].btn {
  height: auto;
}

.form-group-sm .form-control {
  height: 40px;
  padding: 6px 17px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}

.form-group-sm select.form-control {
  height: 40px;
  line-height: 40px;
}

.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto;
}

.form-group-sm .form-control-static {
  height: 40px;
  min-height: 36px;
  padding: 7px 17px;
  font-size: 14px;
  line-height: 1.5;
}

.input-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 72px;
  padding: 21px 43px;
  font-size: 15px;
  line-height: 1.33333;
  border-radius: 10px;
}

select.input-lg, .input-group-lg > select.form-control,
.input-group-lg > select.input-group-addon,
.input-group-lg > .input-group-btn > select.btn {
  height: 72px;
  line-height: 72px;
}

textarea.input-lg, .input-group-lg > textarea.form-control,
.input-group-lg > textarea.input-group-addon,
.input-group-lg > .input-group-btn > textarea.btn,
select[multiple].input-lg,
.input-group-lg > select[multiple].form-control,
.input-group-lg > select[multiple].input-group-addon,
.input-group-lg > .input-group-btn > select[multiple].btn {
  height: auto;
}

.form-group-lg .form-control {
  height: 72px;
  padding: 21px 43px;
  font-size: 15px;
  line-height: 1.33333;
  border-radius: 10px;
}

.form-group-lg select.form-control {
  height: 72px;
  line-height: 72px;
}

.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto;
}

.form-group-lg .form-control-static {
  height: 72px;
  min-height: 37px;
  padding: 22px 43px;
  font-size: 15px;
  line-height: 1.33333;
}

.has-feedback {
  position: relative;
}

.has-feedback .form-control {
  padding-right: 62.5px;
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  pointer-events: none;
}

.input-lg + .form-control-feedback, .input-group-lg > .form-control + .form-control-feedback,
.input-group-lg > .input-group-addon + .form-control-feedback,
.input-group-lg > .input-group-btn > .btn + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 72px;
  height: 72px;
  line-height: 72px;
}

.input-sm + .form-control-feedback, .input-group-sm > .form-control + .form-control-feedback,
.input-group-sm > .input-group-addon + .form-control-feedback,
.input-group-sm > .input-group-btn > .btn + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #abcc37;
}

.has-success .form-control {
  border-color: #abcc37;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
  border-color: #8aa62a;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #cde188;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #cde188;
}

.has-success .input-group-addon {
  color: #abcc37;
  border-color: #abcc37;
  background-color: #abcc37;
}

.has-success .form-control-feedback {
  color: #abcc37;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #f5bf2f;
}

.has-warning .form-control {
  border-color: #f5bf2f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
  border-color: #e6aa0b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fadd90;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fadd90;
}

.has-warning .input-group-addon {
  color: #f5bf2f;
  border-color: #f5bf2f;
  background-color: #f5bf2f;
}

.has-warning .form-control-feedback {
  color: #f5bf2f;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #f54b0f;
}

.has-error .form-control {
  border-color: #f54b0f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #c93b08;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f99471;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f99471;
}

.has-error .input-group-addon {
  color: #f54b0f;
  border-color: #f54b0f;
  background-color: #f54b0f;
}

.has-error .form-control-feedback {
  color: #f54b0f;
}

.has-feedback label ~ .form-control-feedback {
  top: 27px;
}

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #c8c8c8;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 16px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 38px;
}

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.form-horizontal .form-group:before, .form-horizontal .form-group:after {
  content: " ";
  display: table;
}

.form-horizontal .form-group:after {
  clear: both;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 16px;
  }
}

.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}

@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 22px;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 7px;
    font-size: 14px;
  }
}

/** 2.47 Stacktables */
.stacktable {
  width: 100%;
  text-align: left;
}

.st-head-row {
  padding-top: 1em;
}

.st-head-row.st-head-row-main {
  font-size: 1.5em;
  padding-top: 0;
}

.st-key {
  width: 49%;
  text-align: left;
  padding-right: 1%;
  color: black;
}

.stacktable tbody tr.st-head-row-wrap {
  border-color: #d7d7d7;
}

.stacktable tbody tr.st-head-row-wrap th {
  border: none;
}

.stacktable tbody tr.st-head-row-wrap:first-child {
  border-bottom: 1px solid #b7b7b7;
}

.stacktable.striped-table tbody tr:nth-child(even),
.stacktable.condensed-table tbody tr:nth-child(even),
.stacktable.bordered-table tbody tr:nth-child(even),
.stacktable.table-primary tbody tr:nth-child(even) {
  background: none;
}

.stacktable.striped-table tbody tr.st-head-row-wrap,
.stacktable.condensed-table tbody tr.st-head-row-wrap,
.stacktable.bordered-table tbody tr.st-head-row-wrap,
.stacktable.table-primary tbody tr.st-head-row-wrap {
  background: #f9f9f9;
}

.stacktable.striped-table tbody tr.st-head-row-wrap .st-head-row-main,
.stacktable.condensed-table tbody tr.st-head-row-wrap .st-head-row-main,
.stacktable.bordered-table tbody tr.st-head-row-wrap .st-head-row-main,
.stacktable.table-primary tbody tr.st-head-row-wrap .st-head-row-main {
  display: none;
}

.stacktable.striped-table tbody tr:nth-child(even),
.stacktable.condensed-table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.stacktable.table-primary tbody tr.st-head-row-wrap {
  border-color: #b80924;
}

.stacktable.table-primary tbody tr.st-head-row-wrap th {
  border: none;
}

.stacktable.table-primary tbody tr.st-head-row-wrap:first-child {
  border-bottom: 1px solid #b7b7b7;
}

.stacktable.table-dark-blue tbody tr.st-head-row-wrap {
  border-color: #0d2d62;
}

.stacktable.table-dark-blue tbody tr.st-head-row-wrap th {
  border: none;
}

.stacktable.table-dark-blue tbody tr.st-head-row-wrap:first-child {
  border-bottom: 1px solid #b7b7b7;
  border-right: none;
}

.st-val {
  width: 49%;
  padding-left: 1%;
  color: black;
}

.stacktable.large-only {
  display: none;
}

.stacktable.small-only {
  display: table;
}

.pricing-table tbody tr th.st-head-row-main {
  border: none;
  padding: 0;
}

@media (min-width: 768px) {
  .stacktable.large-only {
    display: table;
  }
  .stacktable.small-only {
    display: none;
  }
  .pricing-table tbody tr th.st-head-row-main {
    padding: 14px 16px;
  }
}

/** 2.46 Tables Addons */
.table {
  text-align: left;
}

.table tr:first-child td {
  font-weight: 700;
}

.table th tbody, .table td tbody {
  padding: 7px 18px;
}

@media (min-width: 992px) {
  .table th:nth-child(n+2), .table td:nth-child(n+2) {
    padding-left: 56px;
  }
}

.table-custom {
  text-align: left;
}

.table-custom th {
  letter-spacing: 0;
  color: #2d2e2e;
  font-weight: 700;
}

.table-custom tbody tr {
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
}

.table-custom tbody tr:first-child {
  border: 1px solid #f9f9f9;
}

.table-custom tbody tr td, .table-custom tbody tr th {
  border: none;
  vertical-align: middle;
  padding: 13px 5px;
  text-align: center;
}

.table-custom tbody tr td {
  padding: 4px 5px;
  text-align: center;
  color: #000;
}

@media (min-width: 480px) {
  .table-custom tbody td {
    padding: 4px 23px;
  }
}

.table-custom.table-fixed {
  table-layout: fixed;
}

.table-custom.table-fixed th tbody, .table-custom.table-fixed td tbody {
  padding: 0;
}

@media (min-width: 992px) {
  .table-custom.table-fixed th, .table-custom.table-fixed td {
    padding: 13px 23px;
  }
  .table-custom.table-fixed th:nth-child(n+2), .table-custom.table-fixed td:nth-child(n+2) {
    padding-left: 0;
  }
}

.table-custom.table-hover-rows tbody tr:hover, .table-custom.striped-table tbody tr:hover, .table-custom.condensed-table tbody tr:hover, .table-custom.bordered-table tbody tr:hover {
  background: #f6f7f8;
}

.table-custom.table-hover-rows tbody tr:first-child, .table-custom.striped-table tbody tr:first-child, .table-custom.condensed-table tbody tr:first-child, .table-custom.bordered-table tbody tr:first-child {
  border: none;
  border-bottom: 1px solid #2d2e2e;
}

.table-custom.striped-table tbody tr:hover, .table-custom.condensed-table tbody tr:hover, .table-custom.bordered-table tbody tr:hover {
  background: none;
}

.table-custom.striped-table tbody tr:nth-child(even), .table-custom.condensed-table tbody tr:nth-child(even), .table-custom.bordered-table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

@media (min-width: 992px) {
  .table-custom.condensed-table th, .table-custom.condensed-table td {
    padding: 9px 23px;
  }
}

.table-custom.bordered-table tbody tr {
  border: 1px solid #e5e5e5;
}

.table-custom.bordered-table tbody tr td, .table-custom.bordered-table tbody tr th {
  border: 1px solid #e5e5e5;
}

.table-custom.bordered-table tbody tr th {
  border-bottom: none;
}

.table-custom.bordered-table tbody tr:nth-child(n+2) td {
  border-top: none;
}

.table-custom.bordered-table tbody tr:nth-child(even) {
  background: none;
}

@media (min-width: 992px) {
  .table-custom.bordered-table tbody th, .table-custom.bordered-table tbody td {
    padding: 9px 5px;
    text-align: center;
  }
  .table-custom.bordered-table tbody th:nth-child(n+2), .table-custom.bordered-table tbody td:nth-child(n+2) {
    padding-left: 5px;
    text-align: center;
  }
}

.table-custom.table-primary tbody tr:nth-child(odd) {
  background: #f9f9f9;
}

.table-custom.table-primary tbody tr th {
  background: #b80924;
  color: #fff;
  border-top-color: #b80924;
}

.table-custom.table-primary tbody tr:first-child {
  border: 1px solid #b80924;
}

.table-custom.table-dark-blue tbody tr:hover {
  background: #f6f7f8;
}

.table-custom.table-dark-blue tbody tr:hover .stepper .form-control {
  background-color: #F5F7FA;
}

.table-custom.table-dark-blue tbody tr th {
  background: #0d2d62;
  color: #fff;
  border-top-color: #0d2d62;
}

.table-custom.table-dark-blue tbody tr:first-child {
  border: 1px solid #0d2d62;
}

.table-custom.table-product tbody tr:first-child {
  border-bottom: 1px solid #e5e5e5;
}

.table-custom.table-product tbody tr:first-child td {
  font-weight: 400;
}

/** 2.47 Stacktables */
.stacktable {
  width: 100%;
  text-align: left;
}

.st-head-row {
  padding-top: 1em;
}

.st-head-row.st-head-row-main {
  font-size: 1.5em;
  padding-top: 0;
}

.st-key {
  width: 49%;
  text-align: left;
  padding-right: 1%;
  color: black;
}

.stacktable tbody tr.st-head-row-wrap {
  border-color: #d7d7d7;
}

.stacktable tbody tr.st-head-row-wrap th {
  border: none;
}

.stacktable tbody tr.st-head-row-wrap:first-child {
  border-bottom: 1px solid #b7b7b7;
}

.stacktable.striped-table tbody tr:nth-child(even),
.stacktable.condensed-table tbody tr:nth-child(even),
.stacktable.bordered-table tbody tr:nth-child(even),
.stacktable.table-primary tbody tr:nth-child(even) {
  background: none;
}

.stacktable.striped-table tbody tr.st-head-row-wrap,
.stacktable.condensed-table tbody tr.st-head-row-wrap,
.stacktable.bordered-table tbody tr.st-head-row-wrap,
.stacktable.table-primary tbody tr.st-head-row-wrap {
  background: #f9f9f9;
}

.stacktable.striped-table tbody tr.st-head-row-wrap .st-head-row-main,
.stacktable.condensed-table tbody tr.st-head-row-wrap .st-head-row-main,
.stacktable.bordered-table tbody tr.st-head-row-wrap .st-head-row-main,
.stacktable.table-primary tbody tr.st-head-row-wrap .st-head-row-main {
  display: none;
}

.stacktable.striped-table tbody tr:nth-child(even),
.stacktable.condensed-table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.stacktable.table-primary tbody tr.st-head-row-wrap {
  border-color: #b80924;
}

.stacktable.table-primary tbody tr.st-head-row-wrap th {
  border: none;
}

.stacktable.table-primary tbody tr.st-head-row-wrap:first-child {
  border-bottom: 1px solid #b7b7b7;
}

.stacktable.table-dark-blue tbody tr.st-head-row-wrap {
  border-color: #0d2d62;
}

.stacktable.table-dark-blue tbody tr.st-head-row-wrap th {
  border: none;
}

.stacktable.table-dark-blue tbody tr.st-head-row-wrap:first-child {
  border-bottom: 1px solid #b7b7b7;
  border-right: none;
}

.st-val {
  width: 49%;
  padding-left: 1%;
  color: black;
}

.stacktable.large-only {
  display: none;
}

.stacktable.small-only {
  display: table;
}

.pricing-table tbody tr th.st-head-row-main {
  border: none;
  padding: 0;
}

@media (min-width: 768px) {
  .stacktable.large-only {
    display: table;
  }
  .stacktable.small-only {
    display: none;
  }
  .pricing-table tbody tr th.st-head-row-main {
    padding: 14px 16px;
  }
}


